* {
  box-sizing: border-box;
}

:root {
  --primary: #EFF1F3;
  --secondary: #009FB7;
  --tertiary: #FED766;
  --quaternary: #272727;

  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  color: var(--quaternary);
}

header {
  background-color: var(--secondary);
  
}


footer {
  background-color: var(--secondary);
}

nav {
  background-color: var(--tertiary);
}

.contact-form {
  background-color: var(--secondary);
}
.contact-form button {
  background-color: var(--tertiary);
  color: var(--quaternary);
  
}
